body {background-color:#FFFFFF;
	  margin-left:0px;
	  margin-top:0px;
	  margin-right:0px;
	  margin-bottom:0px;
	  scrollbar-3dlight-color:#cccccc;
	  scrollbar-arrow-color:#ffffff;
	  scrollbar-facs-color:#ffffff;
	  scrollbar-base-color:#ffffff;
	  scrollbar-shadow-color:#cccccc;
	  scrollbar-higlight-color:#ffffff;
	  scrollbar-darkshadow-color:#ffffff;
	  scrollbar-track-color:#transparent;
	  overflow:auto;}
	  

form {padding:0px; margin:0px}

img {border: none;}

body, td,  {font-family:gulim;font-size:12px;color:#666666;line-height:120%;}
a:link    {color:#666666;text-decoration:none;}
a:visited {color:#666666;text-decoration:none;}
a:active  {color:#666666;text-decoration:none;}
a:hover   {color:#000000;text-decoration:none;}

.tap {font-family:gulim;font-size:12px;color:#000000;line-height:120%; font-weight:bold;}
a.tap:link    {color:#999999;text-decoration:none;}
a.tap:visited {color:#999999;text-decoration:none;}
a.tap:active  {color:#999999;text-decoration:none;}
a.tap:hover   {color:#555555;text-decoration:none;}

.menu {font-family:gulim;font-size:12px;color:#666666;line-height:120%;}
a.menu:link    {color:#666666;text-decoration:none;}
a.menu:visited {color:#666666;text-decoration:none;}
a.menu:active  {color:#666666;text-decoration:none;}
a.menu:hover   {color:#c23960;text-decoration:none;}

.day { font-family:Verdana;font-size:12px; font-weight:bold; color:#000000;line-height:100%;text-decoration: underline;}
.sunday { font-family:Verdana;font-size:12px; font-weight:bold; color:#f27173;line-height:100%;text-decoration: underline;}
.saturday { font-family:Verdana;font-size:12px; font-weight:bold; color:#2f69b3;line-height:100%;text-decoration: underline;}

.title {font-family:gulim;font-size:14px;color:#c23960; font-weight:bold;line-height:140%;}
a.title:link    {color:#c23960;text-decoration:none;}
a.title:visited {color:#c23960;text-decoration:none;}
a.title:active  {color:#c23960;text-decoration:none;}
a.title:hover   {color:#ffffff;text-decoration:none;}

.point {font-family:gulim;font-size:12px;color:#c23960; font-weight:bold;line-height:120%;}
a.point:link    {color:#c23960;text-decoration:none;}
a.point:visited {color:#c23960;text-decoration:none;}
a.point:active  {color:#c23960;text-decoration:none;}
a.point:hover   {color:#ffffff;text-decoration:none;}

.num {font-family:Verdana;font-size:10px;color:#c23960;line-height:100%;}
a.num:link    {color:#888888;text-decoration:none;}
a.num:visited {color:#888888;text-decoration:none;}
a.num:active  {color:#888888;text-decoration:none;}
a.num:hover   {color:#c23960;text-decoration:none;}

.input01 {border:0px;
          margin:0px;
	      height:18px;
	      font-size:12px;
	      font-family:dotum;
	      color:#666666; 
	      background-color:transparent;
	      border-right: #cccccc 1px solid; 
	      border-left: #cccccc 1px solid;
	      border-top: #cccccc 1px solid;
	      border-bottom: #cccccc 1px solid;}

.checkbox {border:0px;
           margin:0px;	
		   padding:0px;
		   border-spacing:0px;
		   margin-bottom:0px;
		   margin-left:0px;
		   margin-right:0px;
		   margin-top:0px;
	       height:13px;
	       color:#666666; 
	       background-color:transparent;
		   
		  
.table_default {background-color:#eeeeee;}
.table_over {background-color:#eeeeee;}
.table_out {background-color:#ffffff;}

.tr_default {background-color:#ffffff;}
.tr_over {background-color:#fafafa;}
.tr_out {background-color:#ffffff;}